body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #000;
    color: #fff;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }
  
  nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  nav a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 10px;
  }

  h2 {
    color :rgb(17, 189, 241);
  }
  
  footer {
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
  }
  